* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'PT Serif', serif;
}



body {
    overflow-x: hidden;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0 12%;
    transition: all .50s ease;
    background-color: #F8F9FA;
}

.logo {
    width: 100px;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    background: transparent;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

nav .mynav {
    width: 35px;
    height: 24px;
    right: 3%;
    z-index: 5;
    position: absolute;
    cursor: pointer;
    display: none;
}



nav .menu {
    display: flex;
    list-style: none;
}

nav .menu li {
    display: inline-block;
}

nav .menu li a {
    display: inline-block;
    color: #051729;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 600;
}

nav .menu li a:hover {
    color: #1ba1b3;
    transition: .4s;
}

.container {
    text-align: center;
    padding-top: 10vh;
    max-width: 100%;
    margin: auto;
}


.welcome {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    /* position: relative; */
    display: grid;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.welcome .cover {
    grid-column: 1/1;
    grid-row: 1/1;

}

.welcome h1 {
    color: #F8F9FA;
    font-size: 80px;
    font-weight: 900;
    line-height: 1.5;
}

.welcome h3 {
    color: #F8F9FA;
    font-weight: 900;
    line-height: 1.5;
}

.welcome .bg {
    transform: scale(1.03);
    width: 100%;
    -webkit-filter: blur(5px);
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -1;
    grid-column: 1/1;
    grid-row: 1/1;
    max-height: 600px;
    object-fit: cover;
    object-position: top;
}


.welcome button {
    color: #051729;
    background-color: #F8F9FA;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid #F8F9FA;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.welcome button:hover {
    background: transparent;
    border: 2px solid #143b61;
    color: #143b61;
    transition: .4s;
}

.s2 {
    margin-top: -1.7%;
}

.news {
    background-color: #F8F9FA;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    width: 100%;
}


.about {
    margin-top: 5rem;
}

.about-section {
    text-align: center;
    width: 80%;
    background-color: #051729;
    margin: 8% auto;
    display: grid;
    grid-template-areas:
        "title"
        "text image";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

}

.about-section .title {
    color: #F8F9FA;
    grid-column: 1/3;
}

.about-section .abouticon {
    max-width: 100%;
    max-height: 100%;
}

.container3 .welcome {
    margin-bottom: 40px;
}

.about-section h1 {
    color: #F8F9FA;
}


.about-section .about {
    grid-area: "text";

}

.about h3 {
    color: #F8F9FA;
    font-size: 14px;
    padding-top: 10%;
}


.about-section .icon {
    grid-area: "image";
}


.socialmedia {
    margin-top: 30vh;
}


.s4 {
    height: 700px;
    text-align: center;
    background-color: #051729;
}

.activities {
    text-align: center;
    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "act"
        "col col col";
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
}

.activities h1 {
    color: #F8F9FA;
    margin-bottom: 8vh;
    grid-column: 1/4;
}


.column {
    background-color: #F8F9FA;
    display: inline-block;
    padding: 5%;
    grid-area: "col";
    margin: 5%;    
}

.column img {
    margin: 10%;
    width: 50%;
    display: inline-block;

}

.column h2 {
    padding-left: 5%;
    padding-bottom: 5%;
}

.column p {
    padding-bottom: 10%;
}






@media screen and (max-width: 780px) {
    nav .mynav {
        display: initial;
    }

    .click {}

    .click img {
        position: absolute;
    }

    nav .menu {
        position: absolute;
        top: 60px;
        right: -60%;
        bottom: 0;
        width: 60%;
        height: 220px;
        background-color: black;
        z-index: 0;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
    }

    nav .menu li {
        display: block;
    }

    nav .menu li a {
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        margin-left: 0;
        margin-bottom: 20px;
    }

    nav .menu.open {
        right: 0;
    }
}